In [ ]:
#typical knn with k-fold cross validation

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [2]:
df = pd.read_csv("/content/drive/MyDrive/DATASETS/heart.csv")

In [3]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [22]:
x = df.drop(columns=['target'])
y = df['target']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)
acc = []
for i in range(1, 51):
  knn = KNeighborsClassifier(n_neighbors=i, n_jobs= -1)
  cv = cross_val_score(knn, x_train, y_train, n_jobs=-1)
  acc.append(cv.mean())
print(f'the best k is : {np.argmax(acc)+1}')
knn = KNeighborsClassifier(n_neighbors=np.argmax(acc)+1, n_jobs=-1)
knn.fit(x_train, y_train)
accr = knn.predict(x_test)
print(f'the accuracy when k = {np.argmax(acc)+1} is : {accuracy_score(y_test, accr)}')

the best k is : 38
the accuracy when k = 38 is : 0.7049180327868853

In [21]:
#knn with GridSearch

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
params = dict(n_neighbors = list(range(1,51)), leaf_size = list(range(1,51)), p = [1,2])

In [25]:
gs = GridSearchCV(KNeighborsClassifier(), params, n_jobs=-1, verbose=1)

In [33]:
best_model = gs.fit(x,y)

Fitting 5 folds for each of 5000 candidates, totalling 25000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 484 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 2884 tasks      | elapsed:   17.3s
[Parallel(n_jobs=-1)]: Done 6884 tasks      | elapsed:   39.3s
[Parallel(n_jobs=-1)]: Done 12484 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 19684 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 24997 out of 25000 | elapsed:  2.3min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done 25000 out of 25000 | elapsed:  2.3min finished

In [34]:
print(best_model.best_estimator_)

KNeighborsClassifier(algorithm='auto', leaf_size=1, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=28, p=1,
                     weights='uniform')

In [37]:
knn = KNeighborsClassifier(algorithm='auto', leaf_size=1, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=28, p=1,
                     weights='uniform')
knn.fit(x_train, y_train)
pred = knn.predict(x_test)
print(f'The accuracy when k is : 28 and using grid search is {accuracy_score(y_test, pred)}')

The accuracy when k is : 28 and using grid search is 0.7704918032786885