In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score, confusion_matrix, explained_variance_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [32]:
df = pd.read_csv("/content/drive/MyDrive/DATASETS/Boston.csv")

In [33]:
df.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [36]:
x = df.iloc[:, 1:13]
y = df['medv']
sc_X = StandardScaler()
# sc_y = StandardScaler()
x = sc_X.fit_transform(x)
# y = sc_y.fit_transform(y)

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [38]:
param = {'C':list(range(1,100)), "kernel":['linear', 'poly', 'rbf', 'sigmoid'], "epsilon":list(range(1,100))}
# regr = make_pipeline(StandardScaler(), GridSearchCV(SVR(), param, n_jobs=-1, verbose=1))
# best_model = regr.fit(x_train, y_train)

gs = GridSearchCV(SVR(), param, n_jobs=-1, verbose=1)
best_model = gs.fit(x_train, y_train)

Fitting 5 folds for each of 39204 candidates, totalling 196020 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 424 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 10024 tasks      | elapsed:   21.5s
[Parallel(n_jobs=-1)]: Done 26024 tasks      | elapsed:   58.5s
[Parallel(n_jobs=-1)]: Done 48424 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 77224 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 110056 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 145080 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 182620 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 196017 out of 196020 | elapsed: 10.7min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done 196020 out of 196020 | elapsed: 10.7min finished

In [41]:
model = best_model.best_estimator_.fit(x_train,y_train)
pred = model.predict(x_test)
# acc = accuracy_score(y_test, pred)

In [48]:
explained_variance_score(y_test, pred)

0.8808863041848168